<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @user.nickname %>, thanks for joining the shaRcade community !</h1>
<p>You signed up with email : <%= @user.email %>.
</p>
<p>
Go create games and beat some high scores !
</p>
</body>
</html>
