<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Salut <%= @user.name %> et bienvenue chez nous !</h1>
<p>Tu t'es inscrit sur shaRcade en utilisant l'e-mail suivant : <%=
@user.email %>. Ton pseudo est <%= @user.nickname %>.
</p>
<p>
Pour découvrir la page secrète réservée aux inscrits, rends-toi sur : <%= @url %>.
</p>
<p> À très vite sur shaRcade !
</body>
</html>
